body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
  text-align: center;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.hidden {
  display: none;
}

button {
  padding: 12px 25px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  background: crimson;
  color: white;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
}

img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
